{% extends "layout.html" %} {% block content %}
<main class="container">
  <div class="d-flex flex-row justify-content-end gap-2 mb-4">
    {% if not user %}
    <a class="btn btn-outline-secondary" href="{{ url_for('login') }}">Login</a>
    {% else %}

    {% if admin %}
    <a class="btn btn-light" href="{{ url_for('add_project') }}"
      >Add a new project</a
    >
    <a class="btn btn-light" href="{{ url_for('download_csv') }}">
      Download Audit CSV
    </a>
    {% endif %} 
    
    <div class="dropdown pr-1">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{ username.img }}" class="rounded-circle shadow-4" style="width: 25px;" alt="Avatar"> {{ username.name }}
      </button>
      <ul class="dropdown-menu">
        <li><a role="button" class="dropdown-item" href="{{ url_for('profile') }}">User Settings</a></li>
        <li><a role="button" class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
      </ul>
    </div>

    {% endif %}
  </div>
  <header class="row">
    <h1>cf_audit GUI: Auditing Tool for OSM Conflator</h1>
    <p>
      This website takes a JSON output from OSM Conflate and presents logged-in
      users an interface for validating each affected OSM element, one-by-one. It
      records any changes and produces a file that can be later fed back to
      the Conflator using JOSM.
    </p>
  </header>

  <p><b>Projects</b> that need validating (click on one to see the details):</p>
  <ul class="list-group">
    {% for proj in projects %} {% if not proj.hidden or is_admin(proj) %}
    <a
      class="list-group-item list-group-item-action"
      href="{{ url_for('project', name=proj.name) }}"
    >
      {% if proj.hidden %}🕶️ {% endif %} {{ proj.title }} {% if admin %} ({{
      proj.feature_count }} features) {% endif %}
    </a>
    {% endif %} {% endfor %}
  </ul>
</main>
{% endblock %}
