{% extends "layout.html" %} {% block content %}
<header>
  <link rel="stylesheet" href="{{ dated_url_for('static', filename='style.css') }}" />
</header>
<main class="container">
  <div class="d-flex flex-row justify-content-end gap-2 mb-4">
    {% if not user %}
    <a class="btn btn-outline-secondary" href="{{ url_for('login') }}">Login</a>
    {% else %}

    {% if admin %}
    <a class="btn btn-light" href="{{ url_for('add_project') }}"
      >Add a new project</a
    >
    <a class="btn btn-light" href="{{ url_for('download_csv') }}">
      Download Audit CSV
    </a>
    {% endif %} 
    
    <div class="dropdown pr-1">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{ username.img }}" class="rounded-circle shadow-4" style="width: 25px;" alt="Avatar"> {{ username.name }}
      </button>
      <ul class="dropdown-menu">
        <li><a role="button" class="dropdown-item" href="{{ url_for('profile') }}">User Settings</a></li>
        <li><a role="button" class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
      </ul>
    </div>

    {% endif %}
  </div>
  <header class="row">
    <div class="title_box">
      <h3 class="float-start" id="main_title">cf_audit Conflator: Auditing Tool for OSM Conflator</h3>
      <button class="about_button float-start mx-3 float-top btn btn-outline-dark" type="button" data-bs-toggle="modal" data-bs-target="#helpModal">?</button>
    </div>
    <p>
      This website takes a JSON output from OSM Conflate and presents logged-in
      users an interface for validating each affected OSM element, one-by-one. It
      records any changes and produces a file that can be later fed back to
      the Conflator using JOSM.
    </p>
  </header>

  <div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">About</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <iframe id="about_iframe" src="https://md.coredump.ch/s/VbcxpQQ5g#" width="100%" height="100%"></iframe>
        </div>
      </div>
    </div>
  </div>

  <p><b>Projects</b> that need validating (click on one to see the details):</p>
  <ul class="list-group">
    {% for proj in projects %} {% if not proj.hidden or is_admin(proj) %}
    <a
      class="list-group-item list-group-item-action"
      href="{{ url_for('project', name=proj.name) }}"
    >
      {% if proj.hidden %}🕶️ {% endif %} {{ proj.title }} {% if admin %} ({{
      proj.feature_count }} features) {% endif %}
    </a>
    {% endif %} {% endfor %}
  </ul>
</main>
{% endblock %}
