{% extends "layout.html" %}
{% block title %}{{ project.title }} — {% endblock %}
{% block header %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ dated_url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='Control.MiniMap.min.css') }}" />
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-geometryutil@0.8.1/src/leaflet.geometryutil.js"></script>
    <script src="https://unpkg.com/leaflet-snap@0.0.4/leaflet.snap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='Bing.js') }}"></script>
    <script src="{{ url_for('static', filename='Control.MiniMap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='PermalinkAttribution.js') }}"></script>
    <script src="{{ dated_url_for('static', filename='StreetViewButtons.js') }}"></script>
    <script>
      AP = {
        endpoint: '{{ url_for('api') }}',
        projectId: {{ project.id }},
        forceRef: {% if ref %}'{{ ref }}'{% else %}null{% endif %},
        imagesPath: '{{ url_for('static', filename='images') }}',
        featureTemplateUrl: '{{ url_for('tasks', name=project.name, ref='tmpl') }}',
        browseTemplateUrl: '{{ url_for('browse', name=project.name, ref='tmpl') }}',
        proprietarySV: {{ project.prop_sv | tojson }},
        mapillaryId: '{{ mapillary_id }}',
        region: '{{ region }}',
        readonly: false
      };
    </script>
    <script src="{{ dated_url_for('static', filename='audit.js') }}"></script>
{% endblock %}
{% block content %}
<main class="container-fluid">
    <div id="left-panel">
      <header class="mb-4">
        <p>
          <a class="btn btn-outline-secondary" href="{{ url_for('project', name=project.name) }}">&lt; return to the project</a>
        </p>
        <!-- <p class="toproject">, <a href="#" id="browselink">browse around</a></p> -->
      </header>
      <h1 id="title">{{ project.title }}</h1>
      <p id="last_action" class="last_action">The last reviewer rejected this change with the verdict "<span id="last_verdict"></span>".</p>
      <p id="hint" class="hint">
        <span id="canmove">You can move the marker to a better location. Imagery may be misaligned.</span>
        <span id="transparent">Semi-transparent marker is the location from <span id="tr_which"></span>.</span>
      </p>
      <div class="tags_wrapper">
        <table id="tags" class="table table-sm tags">
        </table>
      </div>
      <div id="fixme_box">
        <p>Value for the <tt>fixme</tt> tag, if needed:<br>
        <input type="text" id="fixme"></p>
      </div>
      <div id="remarks_box" class="remarks_box">
        <b>Remarks:</b> <span id="remarks_content"></span>
      </div>
      <div id="buttons" class="d-flex flex-column gap-2">
        <button id="good" class="btn btn-lg btn-success">Node is valid</button>
        <div class="d-flex gap-2">
          <button id="bad" class="btn flex-fill btn-outline-success">Don't Change</button>
          <button id="bad_dup" class="btn flex-fill btn-outline-warning">Mark as duplicate</button>
          <button id="bad_nosuch" class="btn flex-fill btn-outline-warning">Invalid Point</button>
        </div>
        <div id="reason_box">
          <p>Why?<br>
          <input type="text" id="reason">
          <button class="btn btn-light" id="submit_reason">OK</button</p>
          <button class="btn btn-light" id="create">Create New Instead</button>
        </div>
        <button  id="skip" class="btn btn btn-secondary">Skip</button>
        <a class="btn btn-outline-secondary" href="{{ url_for('project', name=project.name) }}">&lt; Return to Project</a>
      </div>
    </div>
    <div id="map1"></div>
    <div id="map2"></div>
  </main>

{% endblock %}
